main {
    margin: 3rem 8rem;
}

strong {
    color: rgb(12, 102, 117)
}

.about-me-section {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    gap: 2rem;
    background: white;
    margin: 2.5rem 0;
}

.pic-socials-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content:first top;
    align-items: center;
    margin-top: 5rem;
}

.me-pic {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--primary);
}

.about-me-media-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    width: auto;
    margin-top: 1rem;
}

.about-me-logo-link img {
    height: 30px;
    width: auto;
    margin: 0;
}

.about-me-logo-link img:hover {
    transform: scale(1.1);
}

.about-me {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.about-me-paragraph {
    font-size: 1.15rem;
    line-height: 1.7;
    text-align: left;
    margin: 1rem 0;
}

.skill-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin: 1rem 0;
}

.skill-card {
    font-size: 0.8rem;
    font-family: var(--font-text);
    font-weight: 600;
    color: var(--primary);
    background: rgba(12, 102, 117, 0.025);
    border: 0.5px solid rgba(12, 102, 117, 0.25);
    border-radius: 20px;
    padding: 8px 16px;
    margin: 0;
    box-shadow: var(--card-shadow);
    transition: box-shadow 0.2s;
}

.cta-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 0.5rem;
    margin: 1.5rem 0;
}

.cta-card {
    text-align: center;
    margin: 0 0 1.5rem 1rem;
}

.cta-text {
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--font-text);
    color: #ffffff;
    background: var(--primary);
    border: 0.5px solid var(--secondary);
    border-radius: 20px;
    padding: 0.75rem 1.25rem;
}

.cta-card a .cta-text:hover {
    font-weight: 700;
    background: var(--secondary);
}

#get-in-touch-button {
    color: var(--primary);
    background-color: transparent;
}

#get-in-touch-button:hover {
    color: #ffffff;
    background-color: var(--secondary);
}

.separator{
    height: 25px;
    border-top: 1px solid var(--primary-light);
}

#contact {
    margin-top: 0;
}

.section-title h2 {
    font-family: var(--font-headers);
    font-size: 2rem;
    color: var(--primary);
    font-weight: 700;
    text-align: center;
}

.contact-form-container {
    margin-top: 1rem;
}

.contact-form{
    max-width: 600px;
    border-radius: 10px;
}

.contact-form form{
    display: flex;
    flex-direction: column;
}

.contact-form label{
    margin-top: 1rem;
    font-family: var(--font-headers);
    color: var(--primary);
    font-weight: 500;
    font-size: 0.95rem;
}

.contact-form input,
.contact-form textarea{
    border: 1px solid var(--secondary);
    border-radius: 5px;
}

.contact-form button{
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    max-width: 150px;
    cursor: pointer;
    margin-top: 0.5rem;
}

.contact-form button:hover {
    background-color: var(--secondary);
}

.name-email-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.name-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.h-captcha{
    margin-top: 1rem;
}


/* === MEDIA QUERIES === */
@media (max-width: 767px) {
    main{
        margin: 20px;
    }

    .about-me-section {
        display: flex;
        flex-direction: column;
    }

    .pic-socials-container {
        margin-top: 1.5rem;
    }

    .section-title h2 {
        text-align: center;
        margin: 0;
    }

    .name-email-container {
        flex-direction: column;
        gap: 0;
    }

    .media-icons {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 899px) {
    main{
        margin: 35px 30px;
    }

    .pic-socials-container {
        margin-top: 3rem;
    }

    .me-pic {
        max-width: 75%;
    }

    .about-me-logo-link img {
        height: 25px;
    }

    .section-title h2 {
        font-size: 1.5rem;
    }
}

@media (min-width: 900px) and (max-width: 1024px) {
    main{
        margin: 35px;
    }

    .section-title h2 {
        font-size: 1.5rem;
    }
}