main {
    margin: 3rem 6rem;
}

.about-me-section {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    gap: 2rem;
    background: white;
    margin-bottom: 1.5rem;
}

.pic-socials-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content:first top;
    align-items: center;
    margin-top: 5rem;
}

.me-pic {
    max-width: 50%;
    border-radius: 50%;
    border: 2px solid var(--primary);
}

.media-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    width: auto;
    margin-top: 1rem;
}

.logo-link img {
    height: 30px;
    width: auto;
    margin: 0;
}

.logo-link img:hover {
    transform: scale(1.1);
}

.about-me {
    text-align: justify;
}

.about-me-paragraph {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
}

.about-me-paragraph a {
    text-decoration: none;
    color: var(--primary);
}

.about-me-paragraph a:hover {
    color: var(--secondary);
}

.skills-interests {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 3rem 0;
}

.skills-interests-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.skills-interests-card h3 {
    font-family: var(--font-headers);
    font-size: 1.5rem;
    color: var(--primary);
    font-weight: 600;
    margin: 0;
}

.skills-interests-list{
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    background-color: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: 8px;
    box-shadow: var(--card-shadow);
    transition: box-shadow 0.2s;
    padding: 2rem;
    margin: 0;
}

.skills-interests-list li {
    margin-bottom: 0.5rem;
}

.skills-interests-list li::marker {
    content: "";
}

.full-cv a {
    text-decoration: none;
    color: var(--primary);
}

.full-cv a:hover {
    color: var(--secondary);
}

.separator{
    height: 50px;
}

.section-title {
    font-family: var(--font-headers);
    font-size: 1.5rem;
    color: var(--primary);
    font-weight: 700;
}

.contact-form{
    max-width: 600px;
    border-radius: 10px;
}

.contact-form form{
    display: flex;
    flex-direction: column;
}

.contact-form label{
    margin-top: 1.5rem;
    font-family: var(--font-headers);
    color: var(--primary);
    font-weight: 600;
    font-size: 1.5rem;
}

.contact-form input,
.contact-form textarea{
    border: 1px solid var(--secondary);
    border-radius: 5px;
}

.contact-form button{
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    max-width: 150px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--secondary);
}

.h-captcha{
    margin-top: 1.5rem;
}


/* === MEDIA QUERIES === */
@media (max-width: 767px) {
    main{
        margin: 20px;
    }

    .about-me-section {
        display: flex;
        flex-direction: column;
    }

    .pic-socials-container {
        margin-top: 1.5rem;
    }

    .skills-interests {
        display: flex;
        flex-direction: column;
    }

    .section-title h2 {
        text-align: center;
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 899px) {
    main{
        margin: 35px 30px;
    }

    .section-title h2 {
        font-size: 1.5rem;
    }
}

@media (min-width: 900px) and (max-width: 1024px) {
    main{
        margin: 35px;
    }

    .section-title h2 {
        font-size: 1.5rem;
    }
}