main{
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 0.5fr));
    gap: 3rem;
    padding: 0.65rem;
    margin: 3rem 6.5rem;
    margin-bottom: 0.75rem;
}

.card{
    padding: 1.5rem;
    border: 2px solid var(--border);
    background: var(--card-bg);
    box-shadow: var(--card-shadow);
    transition: box-shadow 0.2s;
    border-radius: 10px;
    text-align: justify;
}

.card:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    transform: translateY(-2px);
}

.card-img{
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.card-text{
    font-size: 0.95rem;
    margin-bottom: 0;
}


/* === MEDIA QUERIES === */
@media (max-width: 767px) {
    main{
        display: block;
        margin: 20px 0;
    }

    .card{
        padding: 10px;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 899px) {
    main{
        display: block;
        margin: 20px 0;
    }

    .card{
        margin-bottom: 30px;
    }
}

@media (min-width: 900px) and (max-width: 1024px) {
    main{
        margin: 30px 5px;
    }
}