main{
    margin: 45px 70px;
    margin-bottom: 10px;
}

/* === INTRO === */
.intro-section{
    display: flex;
    gap: 6rem;
    background: white;
    margin: 0 8rem 3rem 8rem;
}

.greeting{
    display: flex;
    text-align: center;
    align-items: top;
    justify-content: center;
    margin: 1.5rem 0;
}

.greeting h2{
    font-size: 2.25rem;
    font-weight: 700;
    font-family: var(--font-headers);
    color: var(--primary);
    line-height: 2;
    margin: 0;
    margin-left: 20px;
}

.section-content{
    text-align: justify;
}

.section-content-paragraph{
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 1.2rem;
}

.section-content-paragraph a:hover {
    color: var(--secondary);
}

.media-icons{
    display: flex;
    justify-content: right;
    gap: 1.5rem;
    align-items: center;
    width: auto;
    margin-top: 20px;
}

.logo-link{
    display: inline-block;
}

.media-icons img{
    height: 20px;
    width: auto;
}

.media-icons img:hover {
    transform: scale(1.1);
}

/* === SEPARATOR === */
.separator{
    height: 100px;
}

/* === CARDS SECTION === */
.cards-section{
    background-color: white;
    margin: 3rem;
}

.section-title h2{
    font-size: 2.25rem;
    font-weight: 600;
    font-family: var(--font-headers);
    color: var(--secondary);
    text-align: center;
}

.cards-container {
    display: grid;
    grid-template-columns: 0.85fr 1.15fr;
    grid-template-rows: 1fr 1fr;
    gap: 5rem;
    margin: 0;
}

.card-dataviz {
    grid-column: 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-blog {
    grid-column: 1;
    grid-row: 1;
}

.card-report {
    grid-column: 1;
    grid-row: 2;
}

.card-title {
    font-family: var(--font-headers);
    font-size: 1.5rem;
    text-align: center;
    color: var(--primary);
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.card-title a:hover {
    color: var(--secondary);
}

.card-content {
    padding: 1.5rem;
    background-color: var(--card-bg);
    border: 1px solid var(--border);
    box-shadow: var(--card-shadow);
    transition: box-shadow 0.2s;
    border-radius: 10px;
    text-align: justify;
}

.card-content:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    transform: translateY(-2px);
}

.card-content-title {
    font-family: var(--font-headers);
    font-size: 1.25rem;
    color: var(--primary);
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
}

.card-content-title a:hover {
    color: var(--secondary);
}

.card-content-date {
    color: var(--text-light);
    font-size: 0.9rem;
}

.card-content-paragraph {
    font-size: 1rem;
    color: var(--text);
    line-height: 1.5;
}

.card-content img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.card-content-paragraph a {
    text-decoration: none;
    color: var(--primary);
}

.card-content-paragraph a:hover {
    color: var(--secondary);
}

.continue-reading a {
    text-decoration: none;
    color: var(--primary);
    font-size: 0.85rem;
}

.continue-reading a:hover {
    color: var(--secondary);
}

.see-all {
    color: var(--primary);
    font-size: 0.85rem;
    text-align: right;
    margin-top: 10px;
}

.see-all a:hover {
    color: var(--secondary);
}


/* === MEDIA QUERIES === */
@media (max-width: 767px) {
    main{
        margin: 20px;
    }

    .intro-section {
        flex-direction: column;
        gap: 1rem;
        margin: 0;
    }

    .greeting {
        margin: 0;
    }

    .greeting h2 {
        font-size: 2rem;
        margin: 0;
    }

    .greeting-break {
        display: none;
    }

    .media-icons {
        justify-content: center;
        margin-top: 2rem;
    }

    .section-title h2 {
        font-size: 2rem;
        margin: 0;
    }

    .cards-section {
        margin: 0;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 899px) {
    main{
        margin: 35px 30px;
    }

    .intro-section {
        margin: 0;
        gap: 4rem;
    }

    .greeting {
        align-items: center;
        margin: 0;
    }

    .media-icons {
        margin-top: 2rem;
    }

    .cards-section {
        margin: 0;
    }

    .section-title h2 {
        font-size: 2rem;
        margin: 0;
    }

    .cards-section {
        margin: 0;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media (min-width: 900px) and (max-width: 1024px) {
    main{
        margin: 35px;
    }

    .intro-section {
        gap: 4rem;
        margin: 0;
    }
    
    .greeting {
        align-items: center;
    }

    .cards-section {
        margin: 0;
    }

    .cards-container {
        gap: 4rem;
    }
}