.parallax-img1{
    background-image: url('/assets/img/01airplane.jpg');
}

.parallax-img2{
    background-image: url('/assets/img/02Teide.jpg');
}

.parallax-img3{
    background-image: url('/assets/img/03arrivals.jpg');
}

.parallax-img4{
    background-image: url('/assets/img/04travel.jpg');
}

.parallax-img5{
    background-image: url('/assets/img/05card.jpg');
}

.parallax-img6{
    background-image: url('/assets/img/06income.jpg');
}

.parallax-img7{
    background-image: url('/assets/img/07Famara.jpg');
}