.body{
    background-color: white;
    font-family: 'Roboto';
    color: black;
}

.header{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: rgb(12, 102, 117);
    color: white;
    align-items: center;
}

.logo{
    display: flex;
}

.logo-img{
    display: flex;
    width: 25%;
    height: 25%;
    float: left;
    padding: 10px;
}

a{
    color: inherit;
    text-decoration: none;
}

.logo-name{
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 20px;
}

.nav-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    float: right;
    margin-right: 200px;
}

.nav-list li{
    margin-left: 20px;
}

.nav-list a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.main-body{
    border-top: 4px solid white;
}

.main-body-section{
    display: grid;
    grid-template-columns: 30% 70%;
}

.main-left-column{
    background-color: white;
    font-family: 'Roboto';
    color: rgb(12, 102, 117);
    font-size: 2.25rem;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 40px;
}

.main-right-column{
    background-color: white;
    font-family: 'Roboto';
    padding: 30px;
    padding-top: 40px;
    text-align: justify;
}

.main-header-entry{
    font-family: 'Roboto';
    font-size: 2rem;
    color: rgb(6, 71, 81);
    font-weight: bold;
}

h2{
    font-size: 1.75rem;
}

p{
    font-size: 1.25rem;
}

.author-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-pic{
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.footer{
    font-family: 'Roboto';
    color: grey;
    text-align: right;
    padding: 30px;
    padding-top: 20px;
}
