body{
    background-color: white;
    font-family: 'Roboto';
    color: black;
}

header{
    background-color: rgb(12, 102, 117);
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

.header-mobile{
    display: none;
}

.logo-name{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.logo-img{
    max-width: 20%;
    height: auto;
    padding: 15px;
    border-radius: 10px;
}

.main-name-header{
    margin-left: 15px;
    text-align: center;
}

.main-name{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}

.header-nav-list{
    display: flex;
    list-style-type: none;
    float: right;
    padding: 0;
    margin: 0;
    margin-right: 50px;
    align-items: center;
}

.header-nav-list li{
    margin-left: 40px;
    display: inline-block;
}

.header-nav-list li:last-child{
    white-space: nowrap;
}

.header-nav-list a{
    color: white;
    font-size: 2.25rem;
    font-weight: bold;
}

.first-section{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: white;
    margin-top: 30px;
    padding-top: 0;
}

.left-column{
    color: rgb(12, 102, 117);
    font-size: 2.25rem;
    font-weight: bolder;
    padding-left: 30px;
}

.right-column{
    padding: 30px;
    text-align: justify;
}

.section-right-title{
    font-size: 1.75rem;
    color: rgb(6, 71, 81);
    font-weight: bold;
}

.section-right-paragraph{
    font-size: 1.25rem;
    line-height: 1.5;
}

.continue-reading a{
    color: rgb(12, 102, 117);
}

.second-section{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: rgba(12, 102, 117, 0.04);
    margin-top: 30px;
    padding-top: 0;
}

.graph-slideshow{
    padding: 20px;
}

.slideshow-pic{
    width: 100%;
    border: 1px solid rgb(12, 102, 117);
    border-radius: 1%;
}

.full-screen-container{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(12, 102, 117, 0.8);
    justify-content: center;
    align-items: center;
}

.close-button{
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 10000;
}

.full-screen-image{
    max-width: 95vw;
    max-height: 95vh;
    object-fit: contain;
    border: 2px solid rgb(12, 102, 117);
    border-radius: 2%;
}

.third-section{
    display: grid;
    grid-template-columns: 30% 70%;
}

.left-column-third{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
}

.author-pic{
    max-width: 50%;
    border-radius: 50%;
    border: 1px solid rgb(12, 102, 117);
    vertical-align: top;
}

.media-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-top: 20px;
    gap: 20px;
}

.logo-link{
    display: inline-block;
}

.media-icons img{
    height: 30px;
    width: auto;
}

.interests_education{
    display: grid;
    grid-template-columns: 50% 50%;
}

.inted-header{
    margin-bottom: 7px;
    color: rgb(6, 71, 81);
}

.intered-list{
    font-size: 1.25rem;
    font-family: 'Roboto';
    margin-top: 0;
}


@media only screen and (max-width: 800px){
    .logo-name{
        display: none;
    }

    .nav-desktop{
        display: none;
    }

    .header-mobile{
        display: block;
        background-color: rgb(12, 102, 117);
        border-radius: 5%;
        color: white;
        font-weight: bold;
    }

    .logo-name-mobile{
        display: grid;
        grid-template-columns: 40% 60%;
        align-items: center;
        justify-content: space-between;
    }

    .logo-img-mobile{
        max-width: 70%;
        padding: 20px;
    }

    .logo-name-header a{
        text-decoration: none;
        color: white;
        font-size: 9vw;
    }

    .logo-name-header{
        text-align: center;
    }

    .header-nav-mobile{
        display: flex;
        list-style-type: none;
        margin: 10px;
        padding-left: 2px;
        padding-right: 2px;
        justify-content: space-between;
    }

    .header-nav-mobile a{
        color: white;
        text-decoration: none;
        font-size: 6vw;
    }

    .first-section{
        display: contents;
        margin-top: 10px;
    }

    .left-column{
        font-size: 7vw;
    }

    .right-column{
        margin-top: 0;
        padding-top: 0;
    }

    .section-right-title{
        font-size: 6.5 vw;
    }

    .section-right-paragraph{
        font-size: 6vw;
    }

    .second-section{
        display: contents;
        background-color: rgba(12, 102, 117, 0.04);
    }

    .third-section{
        display: contents;
    }

    .interests_education{
        display: contents;
    }
}