body{
    background-color: white;
    font-family: 'Roboto';
    color: black;
}

header{
    background-color: rgb(12, 102, 117);
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

h3{
    font-size: 1.5rem;
    font-family: 'Roboto';
    font-weight: bold;
    color: rgb(12, 102, 117);
}

footer{
    text-align: center;
    color: grey;
    padding: 30px;
    padding-top: 20px;
}

.header-mobile{
    display: none;
}

.logo-name{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.logo-img{
    max-width: 20%;
    height: auto;
    padding: 15px;
    border-radius: 10px;
}

.main-name-header{
    margin-left: 15px;
    text-align: center;
}

.main-name{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}

.header-nav-list{
    display: flex;
    list-style-type: none;
    float: right;
    padding: 0;
    margin: 0;
    margin-right: 50px;
    align-items: center;
}

.header-nav-list li{
    margin-left: 40px;
    display: inline-block;
}

.header-nav-list li:last-child{
    white-space: nowrap;
}

.header-nav-list a{
    color: white;
    font-size: 2.25rem;
    font-weight: bold;
}

.menu-icon, .dropdown-menu{
    display: none;
}

.first-section{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: white;
    margin-top: 30px;
    padding-top: 0;
}

.left-column{
    color: rgb(12, 102, 117);
    font-size: 2.25rem;
    font-weight: bolder;
    padding-left: 30px;
}

.right-column{
    padding: 30px;
    text-align: justify;
}

.section-right-title{
    font-size: 1.75rem;
    color: rgb(6, 71, 81);
    font-weight: bold;
}

.section-right-paragraph{
    font-size: 1.25rem;
    line-height: 1.5;
}

.continue-reading a{
    color: rgb(12, 102, 117);
}

.second-section{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: rgba(12, 102, 117, 0.04);
    margin-top: 30px;
    padding-top: 0;
}

.slideshow-pic{
    width: 100%;
    border: 1px solid rgb(12, 102, 117);
    border-radius: 1%;
}

.third-section{
    display: grid;
    grid-template-columns: 30% 70%;
}

.left-column-third{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
}

.author-pic{
    max-width: 50%;
    border-radius: 50%;
    border: 1px solid rgb(12, 102, 117);
    vertical-align: top;
}

.media-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-top: 20px;
    gap: 20px;
}

.logo-link{
    display: inline-block;
}

.media-icons img{
    height: 30px;
    width: auto;
}


.interests_education{
    display: grid;
    grid-template-columns: 50% 50%;
}

.inted-header{
    margin-bottom: 7px;
}

.intered-list{
    font-size: 1.25rem;
    font-family: 'Roboto';
    margin-top: 0;
}


@media only screen and (max-device-width: 800px) {

    .header-desktop{
        display: none;
    }
    
    .header-mobile{
        display: grid;
        grid-template-rows: 70% 30%;
        background-color: rgb(12, 102, 117);
        color: white;
    }

    .logo-name-mobile{
        display: grid;
        grid-template-columns: 30% 70%;
        align-items: center;
    }
    
    .logo-img-mobile{
        border: 10px;
        padding: 25px;
        max-width: 70%;
    }

    .main-name-header{
        margin-left: 0;
    }

    .main-name-mobile{
        color: white;
        font-size: 9vw;
        font-weight: bolder;
        margin-left: 0;
    }

    .header-nav-list{
        display: none;
    }

    .menu-list-mobile{
        display: flex;
        justify-content: space-around;
    }

    .menu-list-mobile a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 6vw;
        padding: 5px;
        margin: 5px;
        z-index: 20;
    }


    .first-section{
        display: contents;
        margin-top: 10px;
    }

    .left-column{
        font-size: 7vw;
    }

    .right-column{
        margin-top: 0;
        padding-top: 0;
    }

    .section-right-title{
        font-size: 6.5 vw;
    }

    .section-right-paragraph{
        font-size: 6vw;
    }

    .second-section{
        display: contents;
        background-color: rgba(12, 102, 117, 0.04);
    }

    .third-section{
        display: contents;
    }

    .interests_education{
        display: contents;
    }

}