*{
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Roboto';
}

header{
    display: flex;
    background-color: rgb(12, 102, 117);
    border-radius: 10px;
    color: white;
    align-items: center;
}

a{
    text-decoration: none;
}

.logo-name{
    display: flex;
    align-items: center;
    margin: 15px;
}

.logo-img{
    max-width: 20%;
    height: auto;
    border-radius: 6%;
    padding: 15px;
}

.header-name{
    margin-left: 15px;
}

.header-main-name{
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}

.header-nav{
    display: flex;
    margin-right: 50px;
}

.header-nav-list{
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    gap: 30px;
}

.header-nav-list a{
    color: white;
    font-size: 2.25rem;
    font-weight: bold;
}

.main-body{
    margin-top: 45px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 45px;
}

.dropdown{
    display: inline-block;
    position: sticky;
    top: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.dropdown button{
    color: white;
    background-color: rgb(6, 71, 81);
    padding: 10px;
    border-radius: 5px;
}

.dropdown-content{
    display: none;
    position: absolute;
    overflow: auto;
    border: 1px solid rgb(6, 71, 81);
    border-radius: 2px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a{
    display: block;
    text-decoration: none;
    color: white;
    background-color: rgb(12, 102, 117);
    border: 1px solid white;
    padding: 10px;
}

.dropdown-content a:hover{
    background-color: rgb(6, 71, 81);
}

.section{
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
}

.section-header{
    display: flex; 
    align-items: center; 
    margin-bottom: 15px;
}

.section-img{
    max-width: 75px;
    height: auto;
}

.section-title{
    color: rgb(6, 71, 81);
    font-size: 2.75rem;
    font-weight: bold;
    margin: 0;
    margin-left: 30px;
}

.section-body-box{
    border: 2px solid rgb(12, 102, 117); 
    border-radius: 5px; 
    box-shadow: 0 0 2px 3px rgba(12, 102, 117, 0.7);
    padding: 40px;
}

.section-paragraph{
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: justify;
    padding: 15px; 
    margin: 0;
}

.core-skills-section{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
}

.core-skills-subsection{
    text-align: justify;
    padding: 15px;
    margin: 0;
}

.core-skills-subsection h3{
    font-size: 1.75rem;
    color: rgb(6, 71, 81);
    font-weight: bold;
    margin: 0;
}

.core-skills-section ul{
    margin: 0;
    padding: 20px;
    font-size: 1.25rem;
    padding-top: 0px;
    line-height: 1.5;
    margin-left: 5px;
    margin-top: 2px;
}

.other-skills-section{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.other-skills-subsection{
    text-align: justify;
    padding: 15px;
    margin: 0;
}

.other-skills-subsection h4{
    font-size: 1.5rem;
    color: rgb(6, 71, 81);
    font-weight: bold;
    margin: 0;
}

.other-skills-subsection ul{
    margin: 0;
    padding: 20px;
    font-size: 1.15rem;
    padding-top: 0px;
    line-height: 1.5;
    margin-left: 5px;
    margin-top: 2px;
}

.experience-entry{
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 20px;
    padding: 40px;
    margin: 0;
}

.experience-entry-date{
    position: relative;
    text-align: right;
}

.experience-entry-date span{
    display: block;
    font-weight: bold;
    font-size: 1.75rem;
    color: rgb(6, 71, 81);
    font-weight: bold;
}

.experience-entry-content{
    padding: 0 0 0 30px;
    border-left: 2px dotted rgb(6, 71, 81);
}

.experience-entry-content h3{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 1.75rem;
    color: rgb(6, 71, 81);
    font-weight: bold;
}

.experience-entry-content span{
    font-size: 1.4rem;
    color: grey;
}

.experience-entry-content ul{
    margin: 0;
    padding: 20px;
    font-size: 1.25rem;
    padding-top: 10px;
    line-height: 1.5;
    margin-left: 5px;
    margin-top: 2px;
}

.pub-teaching{
    margin: 0;
    padding: 40px;
}

.pub-teaching-entry{
    margin: 0;
}

.pub-teaching-entry h4{
    color: rgb(6, 71, 81);
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
}

.pub-teaching-entry p{
    font-size: 1rem; 
    margin: 0;
    margin-top: 10px;
    padding-left: 10px;
}

.pub-teaching-entry ul{
    margin: 0;
    margin-bottom: 40px;
}

.pub-teaching-entry li::marker{
    color: rgb(6, 71, 81);
}

.section-logos{
    margin-top: 10px; 
    margin-right: 150px;
    display: flex; 
    justify-content: right; 
    gap: 20px;
}

.logos-bottom{
    height: 30px; 
    width: auto;
}


