body{
    background-color: white;
    font-family: 'Roboto';
    color: black;
}

header{
    background-color: rgb(12, 102, 117);
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

.header-desktop{
    display: flex;
}

.header-mobile{
    display: none;
}

.logo-name{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.logo-img{
    max-width: 20%;
    height: auto;
    padding: 15px;
    border-radius: 10px;
}

.main-name-header{
    margin-left: 15px;
    text-align: center;
}

.main-name{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}

.header-nav-list{
    display: flex;
    list-style-type: none;
    float: right;
    padding: 0;
    margin: 0;
    margin-right: 50px;
    align-items: center;
}

.header-nav-list li{
    margin-left: 40px;
    display: inline-block;
}

.header-nav-list li:last-child{
    white-space: nowrap;
}

.header-nav-list a{
    color: white;
    font-size: 2.25rem;
    font-weight: bold;
}

.dropdown{
    display: inline-block;
    position: sticky;
    top: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.dropdown button{
    color: white;
    background-color: rgb(6, 71, 81);
    padding: 10px;
    border-radius: 5px;
}

.dropdown-content{
    display: none;
    position: absolute;
    overflow: auto;
    border: 1px solid rgb(6, 71, 81);
    border-radius: 2px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a{
    display: block;
    text-decoration: none;
    color: white;
    background-color: rgb(12, 102, 117);
    border: 1px solid white;
    padding: 10px;
}

.dropdown-content a:hover{
    background-color: rgb(6, 71, 81);
}

.mobile-dropdown{
    display: none;
}

.section{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-header{
    display: flex; 
    align-items: center; 
    margin-bottom: 15px;
}

.section-img{
    width: 75px;
    height: 75px;
}

.section-title{
    color: rgb(6, 71, 81);
    font-size: 2.75rem;
    font-weight: bold;
    margin: 0;
    margin-left: 30px;
}

.section-body-box{
    border: 2px solid rgb(12, 102, 117); 
    border-radius: 5px; 
    box-shadow: 0 0 2px 3px rgba(12, 102, 117, 0.7);
    padding: 40px;
}

.section-paragraph{
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: justify;
    padding: 15px; 
    margin: 0;
}

.core-skills-section{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
}

.core-skills-subsection{
    text-align: justify;
    padding: 15px;
    margin: 0;
}

.core-skills-subsection h3{
    font-size: 1.75rem;
    color: rgb(6, 71, 81);
    font-weight: bold;
    margin: 0;
}

.core-skills-section ul{
    margin: 0;
    padding: 20px;
    font-size: 1.25rem;
    padding-top: 0px;
    line-height: 1.5;
    margin-left: 5px;
    margin-top: 2px;
}

.other-skills-section{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.other-skills-subsection{
    text-align: justify;
    padding: 15px;
    margin: 0;
}

.other-skills-subsection h4{
    font-size: 1.5rem;
    color: rgb(6, 71, 81);
    font-weight: bold;
    margin: 0;
}

.other-skills-subsection ul{
    margin: 0;
    padding: 20px;
    font-size: 1.15rem;
    padding-top: 0px;
    line-height: 1.5;
    margin-left: 5px;
    margin-top: 2px;
}

.experience-entry{
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 20px;
    padding: 40px;
    margin: 0;
}

.experience-entry-date{
    position: relative;
    text-align: right;
}

.experience-entry-date span{
    display: block;
    font-weight: bold;
    font-size: 1.75rem;
    color: rgb(6, 71, 81);
    font-weight: bold;
}

.experience-entry-content{
    padding: 0 0 0 30px;
    border-left: 2px dotted rgb(6, 71, 81);
}

.experience-entry-content h3{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 1.75rem;
    color: rgb(6, 71, 81);
    font-weight: bold;
}

.experience-entry-content span{
    font-size: 1.4rem;
    color: grey;
}

.experience-entry-content ul{
    margin: 0;
    padding: 20px;
    font-size: 1.25rem;
    padding-top: 10px;
    line-height: 1.5;
    margin-left: 5px;
    margin-top: 2px;
}

.pub-teaching{
    margin: 0;
    padding: 40px;
}

.pub-teaching-entry{
    margin: 0;
}

.pub-teaching-entry h4{
    color: rgb(6, 71, 81);
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
}

.pub-teaching-entry p{
    font-size: 1rem; 
    margin: 0;
    margin-top: 10px;
    padding-left: 10px;
}

.pub-teaching-entry ul{
    margin: 0;
    margin-bottom: 40px;
}

.pub-teaching-entry li::marker{
    color: rgb(6, 71, 81);
}

.section-logos{
    margin-top: 10px; 
    margin-right: 150px;
    display: flex; 
    justify-content: right; 
    gap: 20px;
}

.logos-bottom{
    height: 30px; 
    width: auto;
}


@media only screen and (max-width: 800px){

    .logo-name{
        display: none;
    }

    .nav-desktop{
        display: none;
    }

    .header-mobile{
        display: grid;
        grid-template-columns: 1fr;
        background-color: rgb(12, 102, 117);
        border-radius: 5%;
        color: white;
        font-weight: bold;
        width: 100%;
    }

    .logo-name-mobile{
        display: grid;
        grid-template-columns: 40% 60%;
        align-items: center;
        justify-content: space-between;
    }

    .logo-img-mobile{
        max-width: 70%;
        padding: 20px;
    }

    .logo-name-header a{
        text-decoration: none;
        color: white;
        font-size: 9vw;
    }

    .logo-name-header{
        text-align: center;
    }

    .header-nav-mobile{
        display: flex;
        list-style-type: none;
        margin: 10px;
        padding-left: 2px;
        padding-right: 2px;
        justify-content: space-between;
    }

    .header-nav-mobile a{
        color: white;
        text-decoration: none;
        font-size: 6vw;
        z-index: 1000;
    }

    .dropdown{
        display: none;
    }

    .mobile-dropdown{
        display: inline-block;
        position: sticky;
        top: 0;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .mobile-dropdown-button{
        cursor: pointer;
        background-color: rgb(6, 71, 81);
        color: white;
        padding: 10px;
        border: 1px solid white;
        border-radius: 5px;
    }
    
    .mobile-dropdown-button::marker{
        content: "";
    }
    
    .mobile-dropdown-content{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        border: 1px solid rgb(6, 71, 81);
        border-radius: 5px;
    }
    
    .mobile-dropdown-content a{
        text-decoration: none;
        color: white;
        background-color: rgb(12, 102, 117);
        border: 1px solid white;
        padding: 10px;
        z-index: 1000;
    }

    .section{
        display: contents;
        margin-top: 10px;
    }

    .section-header{
        margin-top: 50px;
    }

    .section-body-box{
        padding: 10px;
    }

    .core-skills-section{
        display: block;
    }

    .core-skills-subsection{
        text-align: left;
    }

    .other-skills-section{
        display: block;
    }

    .experience-entry{
        padding: 15px;
    }

    .experience-entry-content{
        padding-left: 15px;
        padding-right: 15px;
    }

    .pub-teaching{
        padding: 15px;
    }

    .pub-teaching ul{
        padding-left: 15px;
        margin-bottom: 30px;
    }

    .section-logos{
        margin-right: 10px;
    }
}