<footer class="cc-footer">
    <div class="cc-footer-left">
        <p>
            © 2024 - <span id="current-year"></span> Oliver Quevedo Rodríguez | 
            Made by OQR.<br>
            This site does not use cookies or tracking. Your privacy belongs to you.
        </p>
    </div>
    <div class="media-icons">
        <a href="https://www.linkedin.com/in/oliverqr/" target="_blank" class="logo-link">
            <img src="/assets/icons/LinkedIn.png" alt="LinkedIn logo">
        </a>
        <a href="https://www.github.com/qroliver" target="_blank" class="logo-link">
            <img src="/assets/icons/GitHub.png" alt="GitHub logo">
        </a>
        <a href="https://bsky.app/profile/oqr.eurosky.social" target="_blank" class="logo-link">
            <img src="/assets/icons/Bluesky.png" alt="Bluesky logo">
        </a>
        <a href="https://www.oliverqr.com/about#contact" target="_blank" class="logo-link">
            <img src="/assets/icons/email.png" alt="Email icon">
        </a>
    </div>
    <div class="cc-footer-right">
        <p xmlns:cc="http://creativecommons.org/ns#" >
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" class="cc-license">CC BY-NC-SA 4.0 
                <img class="cc-icon" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="Creative Commons">
                <img class="cc-icon" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="Attribution">
                <img class="cc-icon" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt="Non-Commercial">
                <img class="cc-icon" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt="Share Alike">
            </a>
        </p>
    </div>
</footer>