<header>
    <div class="logo-name">
        <img src="/assets/icons/Icon.jpg" class="logo-img">
        <img src="/assets/img/logo_white.png" alt="logo" class="logo">
    </div>
    <div class="header-nav">
        <ul class="header-nav-list">
            <li><a href="https://www.oliverqr.com">Home</a></li>
            <li><a href="https://www.oliverqr.com/blog">Blog</a></li>
            <li><a href="https://www.oliverqr.com/reports/lzt_net_zero.html">Reports</a></li>
            <li><a href="https://www.oliverqr.com/dataviz">DataViz</a></li>
            <li><a href="https://www.oliverqr.com/about">About</a></li>
        </ul>
    </div>
</header>