*{
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Roboto';
}

header{
    display: grid;
    grid-template-areas: "logo-name header-nav";
    background-color: rgb(12, 102, 117);
    border-radius: 10px;
    color: white;
    align-items: center;
}

a{
    text-decoration: none;
}

.logo-name{
    display: flex;
    align-items: center;
    margin: 15px;
}

.logo-img{
    max-width: 8%;
    height: auto;
    margin-left: 20px;
    border-radius: 2px;
}

.logo{
    max-width: 12.5%;
    height: auto;
    margin-left: 25px;
    padding: 0;
}

.header-name{
    margin-left: 15px;
}

.header-main-name{
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}

.header-nav{
    display: flex;
    margin-right: 50px;
}

.header-nav-list{
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    gap: 40px;
}

.header-nav-list a{
    font-family: 'Poppins';
    color: white;
    font-size: 1.75rem;
    font-weight: 600;
}

main{
    margin: 45px 70px;
    margin-bottom: 10px;
}

.about-me-section{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: white;
    margin-bottom: 20px;
}

h2{
    font-family: 'Poppins';
    color: rgb(12, 102, 117);
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.me-pic{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 50%;
    border-radius: 50%;
    border: 1px solid rgb(12, 102, 117);
}

.media-icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: auto;
    margin-top: 20px;
}

.logo-link{
    display: inline-block;
}

.media-icons img{
    height: 30px;
    width: auto;
}

.about-me{
    text-align: justify;
}

.about-me-paragraph{
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: justify;
}

a{
    text-decoration: none;
    color: rgb(20, 120, 135);
    font-weight: 600;
}

.skills-interests{
    display: grid;
    grid-template-columns: 50% 50%;
}

.skills-interests-header{
    margin-bottom: 7px;
    color:rgb(6, 71, 82)
}

h3{
    font-family: 'Poppins';
    font-size: 1.75rem;
    color: rgb(6, 71, 82);
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 20px;
}

.skills-interests-list{
    font-size: 1.25rem;
    line-height: 1.3;
    margin-top: 0;
}

.skills-interests li{
    margin-top: 5px;
}

.full-cv a{
    text-decoration: none;
    color: rgb(12, 102, 117);
}

.separator{
    height: 2px; 
    background-color: rgba(12, 102, 117, 0.1); 
    margin: 25px 0;
    margin-top: 15px;
}

.contact-form{
    max-width: 600px;
    border-radius: 10px;
}

.contact-form form{
    display: flex;
    flex-direction: column;
}

.contact-form label{
    margin-top: 20px;
    font-family: 'Poppins';
    color: rgb(12, 102, 117);
    font-weight: 600;
    font-size: 1.5rem;
}

.contact-form input,
.contact-form textarea{
    border: 1px solid rgb(6, 71, 82);
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 16px;
}

.contact-form button{
    background-color: rgb(12, 102, 117);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    max-width: 150px;
    cursor: pointer;
}

.h-captcha{
    margin-top: 20px;
}

.main-footer{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 35px 90px;
    font-size: 0.75rem;
    color: rgba(12, 102, 117, 0.6);
}

.main-footer-left,
.main-footer-right{
    display: flex;
    align-items: flex-end;
}

.main-footer-left p,
.main-footer-right p{
    margin: 0;
}

.main-footer a{
    text-decoration: none;
    color: rgba(12, 102, 117, 0.6);
}


@media (max-width: 767px){
    header{
        display: flex;
        flex-direction: column;
    }

    .logo-name{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 5px;
        margin-top: 15px;
    }

    .logo-img{
        padding: 0;
        max-width: 25%;
        border-radius: 2px;
    }

    .logo{
        max-width: 50%;
        margin: auto 20%;
    }

    .header-name{
        margin: 0;
    }

    .header-main-name{
        font-size: 2.5rem;
    }

    .header-nav{
        margin-left: 5px;
        margin-right: 5px;
    }

    .header-nav-list{
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        gap: 15px;
    }

    .header-nav-list a{
        font-size: 1rem;
    }

    main{
        margin: 20px;
    }

    .about-me-section{
        display: flex;
        flex-direction: column;
    }

    .about-me-section h2{
        font-size: 2rem;
    }

    .skills-interests{
        display: flex;
        flex-direction: column;
    }

    h3{
        font-size: 1.5rem;
    }

    .skills-interests-list{
        font-size: 1.15rem;
        text-align: left;
    }

    .main-footer{
        margin: 20px 20px;
        margin-left: 10px;
        flex-direction: column;
        align-items: start;
    }

    .main-footer-left{
        order: 2;
        margin-top: 10px;
    }

    .main-footer-right{
        order: 1;
        margin-bottom: 10px;
    }
}


@media (min-width: 768px) and (max-width: 899px) {
    main{
        margin: 35px 30px;
    }

    .logo-img{
        padding: 0;
        max-width: 30%;
        border-radius: 3px;
    }

    .logo{
        max-width: 55%;
    }

    .header-main-name{
        font-size: 2.75rem;
    }

    .header-nav{
        margin-right: 25px;
    }

    .header-nav-list a{
        font-size: 1.5rem;
    }

    .main-body{
        margin: 40px;
    }

    .about-me-section{
        gap: 20px;
    }

    .about-me-section h2{
        font-size: 2rem;
        margin-left: 0;
    }

    h3{
        font-size: 1.5rem;
    }

    .skills-interests-list li{
        text-align: left;
    }

    .main-footer{
        margin: auto 30px;
    }
}


@media (min-width: 900px) and (max-width: 1024px) {
    main{
        margin: 35px;
    }

    .logo-img{
        padding: 0;
        max-width: 30%;
        border-radius: 3px;
    }

    .logo{
        max-width: 60%;
    }

    .header-main-name{
        font-size: 2.75rem;
    }

    .header-nav{
        margin-right: 25px;
    }

    .header-nav-list a{
        font-size: 2rem;
    }

    .main-body{
        margin: 40px;
    }

    .about-me-section{
        gap: 10px;
    }

    .about-me-section h2{
        font-size: 2rem;
        margin-left: 0;
    }

    h3{
        font-size: 1.5rem;
    }

    .skills-interests-list li{
        font-size: 1.2rem;
        text-align: left;
    }

    .main-footer{
        margin: auto 35px;
    }
}