*{
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Roboto';
}

header{
    display: flex;
    background-color: rgb(12, 102, 117);
    border-radius: 10px;
    color: white;
    align-items: center;
}

a{
    text-decoration: none;
}

.logo-name{
    display: flex;
    align-items: center;
    margin: 15px;
}

.logo-img{
    max-width: 20%;
    height: auto;
    margin-left: 20px;
    padding: 15px;
}

.logo{
    max-width: 25%;
    height: auto;
    margin-left: 25px;
    padding: 0;
}

.header-name{
    margin-left: 15px;
}

.header-main-name{
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}

.header-nav{
    display: flex;
    margin-right: 70px;
}

.header-nav-list{
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    gap: 40px;
}

.header-nav-list a{
    color: white;
    font-size: 2.25rem;
    font-weight: bold;
}

body{
    background-color: white;
    font-family: 'Roboto';
    color: black;
}

.main-body{
    display: flex;
    gap: 10%;
    margin-left: 5%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 15px;
}

.outline{
    position: sticky;
    height: max-content;
    width: max-content;
    top: 5%;
    margin-top: 200px;
    background-color: rgba(12, 102, 117, 0.01);
    color: rgb(12, 102, 117);
    font-weight: bold;
    border: 1px solid rgb(12, 102, 117);
    border-radius: 5px;
}

.outline ul{
    line-height: 1.75;
    margin: 10px;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9rem;
}

.outline a{
    text-decoration: none;
    color: rgb(12, 102, 117);
}

.post-entry{
    justify-content: center;
}

.entry-title{
    color: rgb(6, 71, 81);
    font-size: 2.75rem;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 10px;
}

.entry-date{
    color: grey;
    font-size: 1rem;
}

.entry-paragraph{
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: justify;
}

.entry-paragraph a{
    text-decoration: none;
    color: rgb(12, 102, 117);
}

.entry-figure{
    position: relative;
    display: inline-block;
    margin: 20px auto;
    margin-bottom: 40px;
}

.entry-graph-img{
    max-width: 100%;
    height: auto;
}

.figure-caption{
    position: absolute;
    font-size: 1rem;
    margin-top: 5px;
    color: rgb(6, 71, 81);
}

.figure_1-caption{
    transform: translateX(32.5%);
}

.R-code-button{
    color: rgb(6, 71, 81);
}

.R-code{
    max-width: 80%;
    height: auto;
    border: 1px solid rgb(6, 71, 81);
    border-radius: 5px;
}

h3{
    font-size: 2rem;
    color: rgb(6, 71, 81);
    margin-top: 35px;
    margin-bottom: 20px;
}

h4{
    font-size: 1.6rem;
    color: rgb(6, 71, 81);
    margin-top: 20px;
    margin-bottom: 10px;
}

.code-text{
    font-family: monospace;
    font-size: 1rem;
    color: #0c6675;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: rgba(12, 102, 117, 0.1);
}

.code-text2{
    font-family: monospace;
    font-size: 0.75rem;
    color: #0c6675;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: rgba(12, 102, 117, 0.1);
}

footer{
    display: inline-flex;
    gap: 2%;
    margin-left: 22%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px;
    vertical-align: middle;
}

footer a{
    text-decoration: none;
    color: rgb(12, 102, 117);
}

footer img{
    max-width: 5%;
    height: auto;
}

.table01-fig03{
    display: grid; 
    grid-template-columns: 30% 70%; 
    gap: 30px; 
    place-items: center;
}

.table01-img {
    max-width: 100%; 
    height: auto;
}

.table01-figcaption{
    transform: translateX(-10%); 
    font-size: 1rem; 
    color: rgb(6, 71, 81);
}

.fig03-img{
    max-width: 90%; 
    height: auto;
}

.fig03-figcaption{
    transform: translateX(-40%); 
    font-size: 1rem; 
    color: rgb(6, 71, 81);
}

.table02-container {
    display: block; 
    margin: 0 auto; 
    text-align: center;
}

.table02-img {
    max-width: 50%; 
    height: auto;
}

.table02-figcaption {
    transform: translateX(-3%); 
    font-size: 1rem; 
    margin-top: 5px; 
    color: rgb(6, 71, 81);
}


@media (max-width: 767px){
    header{
        display: flex;
        flex-direction: column;
    }

    .logo-name{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 5px;
        margin-top: 15px;
    }

    .logo-img{
        padding: 0;
        max-width: 25%;
        border-radius: 2px;
    }

    .logo{
        max-width: 50%;
        margin: auto 20%;
    }

    .header-name{
        margin: 0;
    }

    .header-main-name{
        font-size: 2.5rem;
    }

    .header-nav{
        margin-left: 5px;
        margin-right: 5px;
    }

    .header-nav-list{
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        gap: 15px;
    }

    .header-nav-list a{
        font-size: 1.25rem;
    }

    .main-body{
        margin: 20px;
    }

    .outline{
        display: none;
    }

    .entry-title{
        margin-top: 5px;
        font-size: 2rem;
    }

    .entry-figure{
        position: relative;
        display: block;
        margin: 20px auto;
        text-align: center;
        max-width: 100%;
    }

    .entry-graph-img{
        max-width: 100%;
        height: auto;
    }

    .figure_1-caption{
        transform: none;
    }

    .figure-caption{
        position: relative;
        display: block;
        text-align: justify;
        font-size: 0.85rem;
    }

    details{
        margin-top: 25px;
    }

    .R-code{
        max-width: 100%;
    }

    .table01-fig03{
        display: block; 
        place-items: center;
    }

    .table01-img{
        max-width: 100%;
        height: auto;
        margin: 10px auto;
    }

    .fig03-img{
        max-width: 100%;
        height: auto;
        margin: 10px auto;
    }
    
    .table01-figcaption{
        transform: translateX(-10%); 
        font-size: 1rem; 
        color: rgb(6, 71, 81);
    }
    
    .fig03-figcaption{
        transform: translateX(-10%); 
        font-size: 1rem; 
        color: rgb(6, 71, 81);
    }

    .table02-img {
        max-width: 100%; 
        height: auto;
    }

    footer img{
        max-width: 10%;
    }

}

@media (min-width: 768px) and (max-width: 1024px){
    .logo-img{
        padding: 0;
        border-radius: 3px;
    }

    .header-main-name{
        font-size: 2.75rem;
    }

    .header-nav{
        margin-right: 25px;
    }

    .header-nav-list a{
        font-size: 2rem;
    }

    .main-body{
        margin: 40px;
    }

    footer{
        margin: 0;
        justify-content: right;
    }
}