*{
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Roboto';
}

header{
    display: grid;
    grid-template-areas: "logo-name header-nav";
    background-color: rgb(12, 102, 117);
    border-radius: 10px;
    color: white;
    align-items: center;
}

a{
    text-decoration: none;
}

.logo-name{
    display: flex;
    align-items: center;
    margin: 15px;
}

.logo-img{
    max-width: 20%;
    height: auto;
    margin-left: 20px;
    border-radius: 2px;
}

.logo{
    max-width: 25%;
    height: auto;
    margin-left: 25px;
    padding: 0;
}

.header-name{
    margin-left: 15px;
}

.header-main-name{
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}

.header-nav{
    display: flex;
    margin-right: 70px;
}

.header-nav-list{
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    gap: 40px;
}

.header-nav-list a{
    font-family: 'Poppins';
    color: white;
    font-size: 2.25rem;
    font-weight: bold;
}

main{
    display: flex;
    gap: 100px;
    margin-left: 100px;
    margin-right: 200px;
    margin-top: 35px;
    margin-bottom: 15px;
}

.outline{
    position: sticky;
    height: max-content;
    width: max-content;
    top: 5%;
    margin-top: 200px;
    background-color: rgba(12, 102, 117, 0.01);
    color: rgb(12, 102, 117);
    font-weight: bold;
    border: 1px solid rgb(12, 102, 117);
    border-radius: 5px;
}

.outline ul{
    line-height: 1.75;
    margin: 10px;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9rem;
}

.outline a{
    text-decoration: none;
    color: rgb(12, 102, 117);
}

article{
    justify-content: center;
}

.entry-title{
    color: rgb(6, 71, 82);
    font-family: 'Poppins';
    font-size: 2.75rem;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 10px;
}

.entry-date{
    color: grey;
    font-size: 1rem;
}

.entry-paragraph{
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: justify;
}

.entry-paragraph a{
    text-decoration: none;
    color: rgb(12, 102, 117);
}

.entry-figure{
    position: relative;
    display: inline-block;
    margin: 20px auto;
    margin-bottom: 40px;
}

.entry-graph-img{
    max-width: 100%;
    height: auto;
}

.figure-caption{
    position: absolute;
    font-size: 1rem;
    margin-top: 5px;
    color: rgb(6, 71, 81);
}

.figure_1-caption{
    transform: translateX(20%);
}

.R-code-button{
    color: rgb(6, 71, 82);
}

.R-code{
    max-width: 80%;
    height: auto;
    border: 1px solid rgb(6, 71, 82);
    border-radius: 5px;
}

h3{
    font-family: 'Poppins';
    font-size: 2rem;
    color: rgb(6, 71, 81);
    margin-top: 35px;
    margin-bottom: 20px;
}

.code-text{
    font-family: monospace;
    font-size: 1rem;
    color: #0c6675;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: rgba(12, 102, 117, 0.1);
}

h4{
    font-family: 'Poppins';
    font-size: 1.6rem;
    color: rgb(6, 71, 81);
    margin-top: 20px;
    margin-bottom: 10px;
}

.paragraph-table-layout{
    display: flex; 
    flex-wrap: wrap; 
    gap: 30px; 
    align-items: center;
}

.paragraph-table-layout-paragraph{
    flex: 1; 
    max-width: 65%; 
    box-sizing: border-box;
}

.paragraph-table-layout-table{
    flex: 1; 
    max-width: 65%; 
    box-sizing: border-box;
}

.graph-table-layout{
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    align-items: center;
}

.graph-table-layout-graph{
    flex: 1; 
    max-width: 70%; 
    box-sizing: border-box;
}

.graph-table-layout-table{
    flex: 1; 
    max-width: 30%; 
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column; 
    text-align: center;
}

.go-to-footer{
    display: inline-flex;
    gap: 2%;
    margin-left: 320px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px;
    vertical-align: middle;
}

.go-to-footer a{
    text-decoration: none;
    color: rgb(12, 102, 117);
}

.go-to-footer img{
    max-width: 5%;
    height: auto;
}

.main-footer{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 35px 90px;
    margin-right: 200px;
    font-size: 0.75rem;
    color: rgba(12, 102, 117, 0.6);
}

.main-footer-left,
.main-footer-right{
    display: flex;
    align-items: flex-end;
}

.main-footer-left p,
.main-footer-right p{
    margin: 0;
}

.main-footer a{
    text-decoration: none;
    color: rgba(12, 102, 117, 0.6);
}


@media (max-width: 767px){
    header{
        display: flex;
        flex-direction: column;
    }

    .logo-name{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 5px;
        margin-top: 15px;
    }

    .logo-img{
        padding: 0;
        max-width: 25%;
        border-radius: 2px;
    }

    .logo{
        max-width: 50%;
        margin: auto 20%;
    }

    .header-name{
        margin: 0;
    }

    .header-main-name{
        font-size: 2.5rem;
    }

    .header-nav{
        margin-left: 5px;
        margin-right: 5px;
    }

    .header-nav-list{
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        gap: 15px;
    }

    .header-nav-list a{
        font-size: 1.15rem;
    }

    main{
        margin: 20px;
    }

    .outline{
        display: none;
    }

    .entry-title{
        text-align: left;
    }

    .figure_1-caption{
        transform: translateX(0);
    }

    details{
        margin-top: 35px;
    }

    .paragraph-table-layout{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .paragraph-table-layout-paragraph{
        max-width: 100%;
    }

    .paragraph-table-layout-table{
        max-width: 100%;
    }

    .graph-table-layout{
        display: flex; 
        flex-direction: column;
        align-items: center;
    }
    
    .graph-table-layout-graph{
        flex: 1; 
        max-width: 100%; 
        box-sizing: border-box;
    }
    
    .graph-table-layout-table{
        flex: 1; 
        max-width: 100%; 
        box-sizing: border-box; 
        display: flex; 
        flex-direction: column; 
        text-align: center;
    }

    .go-to-footer{
        margin-left: 15px;
    }

    .go-to-footer img{
        max-width: 10%;
    }

    .main-footer{
        margin: 20px 20px;
        margin-left: 10px;
        flex-direction: column;
        align-items: start;
    }

    .main-footer-left{
        order: 2;
        margin-top: 10px;
    }

    .main-footer-right{
        order: 1;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 899px){
    main{
        margin: 35px 30px;
        gap: 60px;
    }

    .logo-img{
        padding: 0;
        max-width: 30%;
        border-radius: 3px;
    }

    .logo{
        max-width: 55%;
    }

    .header-main-name{
        font-size: 2.75rem;
    }

    .header-nav{
        margin-right: 25px;
    }

    .header-nav-list a{
        font-size: 1.5rem;
    }

    .main-body{
        margin: 40px;
    }

    .section-title h2{
        font-size: 3rem;
        margin-left: 0;
    }

    details{
        margin-top: 15px;
    }

    .go-to-footer{
        margin-left: 210px;
    }

    .main-footer{
        margin: auto 30px;
    }
}

@media (min-width: 900px) and (max-width: 1024px){

    .logo-img{
        padding: 0;
        max-width: 30%;
        border-radius: 3px;
    }

    .logo{
        max-width: 60%;
    }

    .header-main-name{
        font-size: 2.75rem;
    }

    .header-nav{
        margin-right: 25px;
    }

    .header-nav-list a{
        font-size: 2rem;
    }

    main{
        margin: 40px;
        gap: 75px;
    }

    details{
        margin-top: 20px;
    }

    .paragraph-table-layout-paragraph{
        max-width: 70%;
    }

    .paragraph-table-layout-table{
        max-width: 30%;
    }

    .go-to-footer{
        margin-left: 235px;
    }

    .main-footer{
        margin: auto 45px;
    }
}