*{
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Roboto';
}

header{
    display: grid;
    grid-template-areas: "logo-name header-nav";
    background-color: rgb(12, 102, 117);
    border-radius: 10px;
    color: white;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgb(12, 102, 117);
}

.logo-name{
    display: flex;
    align-items: center;
    margin: 15px;
}

.logo-img{
    max-width: 8%;
    height: auto;
    margin-left: 20px;
    border-radius: 2px;
}

.logo{
    max-width: 12.5%;
    height: auto;
    margin-left: 25px;
    padding: 0;
}

.header-name{
    margin-left: 15px;
}

.header-main-name{
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}

.header-nav{
    display: flex;
    margin-right: 50px;
}

.header-nav-list{
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    gap: 40px;
}

.header-nav-list a{
    font-family: 'Poppins';
    color: white;
    font-size: 1.75rem;
    font-weight: 600;
}

.main-body{
    margin: 45px 70px;
    margin-right: 50px;
    display: flex;
    gap: 30px;
}

main{
    flex: 1;
}

.toc{
    width: 220px;
    margin-top: 50px;
}

.toc details{
    margin: 10px auto;
    padding: 2px;
    color: rgb(6, 71, 82);
    border-radius: 5px;
}

.toc summary{
    cursor: pointer;
    padding: 10px;
}

.toc span{
    font-family: 'Poppins';
    color: rgb(6, 71, 82);
    font-weight: bold;
}

.toc ul{
    list-style: none;
    padding-left: 25px;
    margin-top: 0;
}

.toc li{
    margin: 18px auto;
    padding: 2px;
}

.toc li a{
    text-decoration: none;
    color: rgb(12, 102, 117);
}

.toc li a:hover{
    text-decoration: underline;
}

article{
    margin-top: 25px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 100px;
    padding: 10px;
}

.blog-entry-title{
    color: rgb(6, 71, 82);
    font-family: 'Poppins';
    font-size: 2.75rem;
    font-weight: bold;
    text-align: justify;
    margin: 0;
    margin-bottom: 10px;
}

.blog-entry-note{
    font-size: 0.95rem; 
    font-style: italic; 
    color: #555; 
    margin-bottom: 20px;
}

.blog-entry-note a{
    text-decoration: none; 
    color: rgb(12, 102, 117);
}

.blog-paragraph{
    font-size: 1.25rem;
    line-height: 1.5;
}

.blog-paragraph a{
    text-decoration: none;
    color: rgb(12, 102, 117);
}

.continue-reading a{
    text-decoration: none;
    color: rgb(12, 102, 117);
    font-size: 1.25rem;
}

.entry-date{
    color: grey;
    font-size: 1rem;
}

h3{
    font-size: 1.75rem;
    color: rgb(6, 71, 81);
    margin-top: 25px;
    margin-bottom: 20px;
}

.separator{
    height: 2px; 
    background-color: rgba(12, 102, 117, 0.1); 
    margin: 25px 0;
}

.main-footer{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 35px 150px;
    margin-left: 70px;
    font-size: 0.75rem;
    color: rgba(12, 102, 117, 0.6);
}

.main-footer-left,
.main-footer-right{
    display: flex;
    align-items: flex-end;
}

.main-footer-left p,
.main-footer-right p{
    margin: 0;
}

.main-footer a{
    text-decoration: none;
    color: rgba(12, 102, 117, 0.6);
}


@media (max-width: 767px){
    header{
        display: flex;
        flex-direction: column;
    }

    .logo-name{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 5px;
        margin-top: 15px;
    }

    .logo-img{
        padding: 0;
        max-width: 25%;
        border-radius: 2px;
    }

    .logo{
        max-width: 50%;
        margin: auto 20%;
    }

    .header-name{
        margin: 0;
    }

    .header-main-name{
        font-size: 2.5rem;
    }

    .header-nav{
        margin-left: 5px;
        margin-right: 5px;
    }

    .header-nav-list{
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        gap: 15px;
    }

    .header-nav-list a{
        font-size: 1rem;
    }

    .main-body{
        margin: 10px;
    }

    .toc{
        display: none;
    }

    article{
        margin: 15px 0;
        margin-bottom: 35px;
        padding: 10px 15px;
    }

    .blog-entry-title{
        font-size: 2.5rem;
        text-align: left;
    }

    .main-footer{
        margin: 20px 20px;
        margin-left: 10px;
        flex-direction: column;
        align-items: start;
    }

    .main-footer-left{
        order: 2;
        margin-top: 10px;
    }

    .main-footer-right{
        order: 1;
        margin-bottom: 10px;
    }
}


@media (min-width: 768px) and (max-width: 899px) {
    main{
        margin: 5px;
    }

    .logo-img{
        padding: 0;
        max-width: 30%;
        border-radius: 3px;
    }

    .logo{
        max-width: 55%;
    }

    .header-main-name{
        font-size: 2.75rem;
    }

    .header-nav{
        margin-right: 25px;
    }

    .header-nav-list a{
        font-size: 1.5rem;
    }

    .toc{
        display: none;
    }

    .main-body{
        margin: 15px 50px
    }

    article{
        margin: 20px 0;
        padding: 20px;
    }

    .main-footer{
        margin: auto 50px;
        flex-direction: column;
        align-items: start;
    }

    .main-footer-left{
        order: 2;
        margin-top: 10px;
    }

    .main-footer-right{
        order: 1;
        margin-bottom: 10px;
    }
}


@media (min-width: 900px) and (max-width: 1024px) {
    main{
        margin: 5px;
    }

    .logo-img{
        padding: 0;
        max-width: 30%;
        border-radius: 3px;
    }

    .logo{
        max-width: 60%;
    }

    .header-main-name{
        font-size: 2.75rem;
    }

    .header-nav{
        margin-right: 25px;
    }

    .header-nav-list a{
        font-size: 2rem;
    }

    .main-body{
        margin: 25px 50px;
        margin-right: 30px;
    }

    article{
        margin: 25px auto;
        padding: 20px;
    }

    .main-footer{
        margin-left: 50px;
        margin-right: 30px;
    }
}